In [1]:
import pandas as pd
import os

In [3]:
# path = os.sep.join(['C:','Users','suare','PycharmProjects','RegimeSwitchingSeriesGenerator','data','efts','30min-level',
#                     'IBEX','IBEX_[2017-01-01_to_2018-01-01]'])

path = os.sep.join(['C:','Users','suare','PycharmProjects','RegimeSwitchingSeriesGenerator','data','efts','1min-level',
                    'DOWJONES','DOWJONES_[2015-01-01_to_2016-01-01]'])

In [4]:
df = pd.read_csv(path+'.csv.gz', sep=';', compression='gzip')
len(df)

362357

In [5]:
df.index = pd.to_datetime(df.datetime)
df.drop(columns=['datetime'], inplace=True)
df.sort_index(inplace=True)
df.head()

                      open   high    low  close  volume  gap   timestamp
datetime
2015-01-02 04:00:00  178.2  178.2  178.2  178.2   850.0  0.0  1420171200
2015-01-02 04:01:00  178.2  178.2  178.2  178.2     0.0  1.0  1420171260
2015-01-02 04:02:00  178.2  178.2  178.2  178.2     0.0  1.0  1420171320
2015-01-02 04:03:00  178.2  178.2  178.2  178.2     0.0  1.0  1420171380
2015-01-02 04:04:00  178.2  178.2  178.2  178.2     0.0  1.0  1420171440

In [6]:
df = df.between_time('09:30','16:00')
df.head()

,open,high,low,close,volume,gap,timestamp
datetime,,,,,,,
2015-01-02 09:30:00,178.6200,178.7300,178.5601,178.660,84826.0,0.0,1420191000
2015-01-02 09:31:00,178.6800,178.7154,178.5701,178.690,19078.0,0.0,1420191060
2015-01-02 09:32:00,178.7099,178.8040,178.6800,178.804,12179.0,0.0,1420191120
2015-01-02 09:33:00,178.7950,178.8900,178.7700,178.890,16965.0,0.0,1420191180
2015-01-02 09:34:00,178.8900,178.9100,178.8300,178.870,22910.0,0.0,1420191240

In [7]:
df.to_csv(path+'_market_hours.csv', sep=';')