In [42]:
import pandas as pd
import os

In [43]:
path = os.sep.join(['C:','Users','suare','PycharmProjects','RegimeSwitchingSeriesGenerator','data','efts','30min-level',
                    'IBEX','IBEX_[2017-01-01_to_2018-01-01]'])

In [44]:
df = pd.read_csv(path+'.csv', sep=';')
len(df)

12030

In [45]:
df.index = pd.to_datetime(df.datetime)
df.drop(columns=['datetime'], inplace=True)
df.sort_index(inplace=True)
df.head()

                      open   high    low  close  volume  gap   timestamp
datetime
2017-01-03 05:30:00  26.51  26.51  26.51  26.51    60.0  0.0  1483421400
2017-01-03 06:00:00  26.51  26.51  26.51  26.51     0.0  1.0  1483423200
2017-01-03 06:30:00  26.51  26.51  26.51  26.51     0.0  1.0  1483425000
2017-01-03 07:00:00  26.51  26.51  26.51  26.51     0.0  1.0  1483426800
2017-01-03 07:30:00  26.51  26.51  26.51  26.51     0.0  1.0  1483428600

In [46]:
df = df.between_time('09:30','16:00')
df.head()

,open,high,low,close,volume,gap,timestamp
datetime,,,,,,,
2017-01-03 09:30:00,26.690,26.745,26.660,26.7300,91543.0,0.0,1483435800
2017-01-03 10:00:00,26.720,26.770,26.670,26.7600,123919.0,0.0,1483437600
2017-01-03 10:30:00,26.760,26.770,26.670,26.6937,77163.0,0.0,1483439400
2017-01-03 11:00:00,26.690,26.750,26.650,26.7500,306294.0,0.0,1483441200
2017-01-03 11:30:00,26.745,26.765,26.705,26.7350,563651.0,0.0,1483443000

In [47]:
df.to_csv(path+'_market_hours.csv', sep=';')